In [97]:
# Load necessary python libraries

import pandas as pd
import numpy as np
import sqlite3
from difflib import SequenceMatcher # This is for text analysis to find close matches
import time

# Workbook to create master database for analysis / modelling

Initial steps:
1. Determine scope of analysis <br><br>
2. Create a player connection between the Market Values data (sourced from TransferMarkt) and player performance data (sourced from Squawka) <br><br>
3. Start with "Market Values" data as base and add fields / features from other data files

### Step 1: Determine scope of analysis

_Understand the latest market values (as at 2017/18 - i.e. 2017) and compare to the market values from 2016/17_

a. Accordingly, the 'Market Values' for players at 2017 forms the initial basis.

b. Add in a column which has the 2016 market value.

c. Filter the dataset to drop any rows which do not have values for both market value columns (a comparison isn't possible if both values are not available).

In [98]:
# Load market values csv

market_values = pd.read_csv("market_values.csv")

In [99]:
market_values.shape

(16530, 26)

In [100]:
# Create dataframe of 2017 players with market values

mv_df = market_values[market_values['year'] == 2017].copy()

In [101]:
mv_df.shape

(5057, 26)

In [102]:
# Drop players without Market values

mv_df = mv_df[mv_df['marketval'] > 0]
mv_df.shape

(5004, 26)

In [103]:
# Create market values df from prior year (2016)

mv_2016 = market_values[market_values['year'] == 2016].copy() # Create dataframe with 2016 values

# Create market values df from additional prior year (2015)

mv_2015 = market_values[market_values['year'] == 2015].copy()

In [104]:
# Create function to find previous market value (can't simply do a dataframe combination since multiple market
# values exist. Need to select the earliest available - which will be based on "in team since" date)

def prior_year_mv(value):
    if value in mv_2016['pid'].values:
        temp_df = mv_2016[mv_2016['pid'] == value] # Create temporary dataframe just for the identified player
        temp_df = temp_df.sort_values(by = 'teamsince').reset_index() # Re-index so oldest value at 0 index
        prev_val = temp_df.loc[0,'marketval']
    else:
        prev_val = np.NaN # in case player id is not in 2016 dataset
    return prev_val
    
mv_df['marketval_2016'] = mv_df['pid'].apply(prior_year_mv)

In [105]:
# Create function to find country for previous market value (can't simply do a dataframe combination since multiple market
# values exist. Need to select the earliest available - which will be based on "in team since" date)

def prior_year_mv(value):
    if value in mv_2016['pid'].values:
        temp_df = mv_2016[mv_2016['pid'] == value] # Create temporary dataframe just for the identified player
        temp_df = temp_df.sort_values(by = 'teamsince').reset_index() # Re-index so oldest value at 0 index
        prev_val = temp_df.loc[0,'country']
    else:
        prev_val = np.NaN # in case player id is not in 2016 dataset
    return prev_val
    
mv_df['country_2016'] = mv_df['pid'].apply(prior_year_mv)

In [106]:
# Drop players where a market value isn't available for both 2017 and 2016

mv_df = mv_df[mv_df['marketval_2016'] > 0]

In [107]:
mv_df.shape

(3536, 28)

In [108]:
mv_df = mv_df.drop_duplicates()
mv_df.shape

(3177, 28)

### Step 2: Connect with players in statistics data

In [109]:
# Load player stats csv

players = pd.read_csv("player_info.csv")
players.shape

(297116, 17)

In [110]:
# Isolate player Id, name and dob and then remove duplicate player names

players_small = players[['idn','name','dob']]
players_small = players_small.drop_duplicates()
players_small.shape

(8346, 3)

In [111]:
# Create a combined name and dob column in each dataframe

def name_dob(row):
    name_val = row['name'].lower().replace(" ","_")
    dob_val = str(row['dob'])
    combo = name_val + "_" + dob_val
    return combo

for df in [mv_df,players_small]:
    df['name_dob'] = df.apply(name_dob, axis = 1)

In [112]:
mv_df.shape

(3177, 29)

In [113]:
# Check how many exact matches there are with the Squawka list

def match_name(value):
    temp_df = players_small[players_small['name_dob'] == value]
    shape_val = temp_df.shape[0]
    return shape_val

mv_df['check'] = mv_df['name_dob'].apply(match_name)

In [114]:
mv_df['check'].value_counts()

1    2843
0     333
2       1
Name: check, dtype: int64

In [115]:
# Review dataframe of player with more than 1 match

mv_df[mv_df['check'] == 2]

,teamid,number,name,pid,main_pos,position,dob,age,nat1,nat2,...,season,teamurl,year,current_team,current_teamid,country,marketval_2016,country_2016,name_dob,check
7936,610.0,21.0,Frenkie de Jong,326330.0,midfielder,Central Midfield,1997-05-12,20.0,Netherlands,NaN,...,17/18,ajax-amsterdam,2017.0,Ajax Amsterdam,610.0,Netherlands,600000.0,Netherlands,frenkie_de_jong_1997-05-12,2

In [116]:
# Create dataframe of unmatched players
mv_df_extra = mv_df[mv_df['check'] == 0].copy()

##### Attempt to find players that are not exact matches but may be due to close match (e.g. minor wording difference)

In [117]:
mv_df.head(5)

,teamid,number,name,pid,main_pos,position,dob,age,nat1,nat2,...,season,teamurl,year,current_team,current_teamid,country,marketval_2016,country_2016,name_dob,check
594,8054.0,1.0,Andrew Redmayne,51975.0,keeper,Keeper,1989-01-13,28.0,Australia,NaN,...,17/18,sydney-fc,2017.0,Sydney FC,8054.0,Australia,300000.0,Australia,andrew_redmayne_1989-01-13,1
596,8054.0,5.0,Jordy Buijs,31111.0,defender,Centre-Back,1988-12-28,28.0,Netherlands,NaN,...,17/18,sydney-fc,2017.0,Sydney FC,8054.0,Australia,800000.0,Australia,jordy_buijs_1988-12-28,1
597,8054.0,4.0,Alex Wilkinson,43128.0,defender,Centre-Back,1984-08-13,33.0,Australia,NaN,...,17/18,sydney-fc,2017.0,Sydney FC,8054.0,Australia,650000.0,Australia,alex_wilkinson_1984-08-13,1
598,8054.0,22.0,Sebastian Ryall,58120.0,defender,Centre-Back,1989-07-18,28.0,Australia,NaN,...,17/18,sydney-fc,2017.0,Sydney FC,8054.0,Australia,350000.0,Australia,sebastian_ryall_1989-07-18,1
601,8054.0,7.0,Michael Zullo,55444.0,defender,Left-Back,1988-11-09,28.0,Australia,Italy,...,17/18,sydney-fc,2017.0,Sydney FC,8054.0,Australia,350000.0,Australia,michael_zullo_1988-11-09,0

In [118]:
# Check if any players have multiple player ids

mv_df_duplicate_check = mv_df[['pid','name_dob']]
mv_df_duplicate_check = mv_df_duplicate_check.drop_duplicates()

mv_df_duplicate_check['count'] = mv_df_duplicate_check.groupby('name_dob')['name_dob'].transform('count')
mv_df_duplicate_check[mv_df_duplicate_check['count'] != 1]

Empty DataFrame
Columns: [pid, name_dob, count]
Index: []

In [119]:
# Check if any players have multiple teams in 2017
mv_df_team_check = mv_df[['pid','current_team']]
mv_df_team_check = mv_df_team_check.drop_duplicates()

mv_df_team_check['count'] = mv_df_team_check.groupby('pid')['pid'].transform('count')
mv_df_team_check[mv_df_team_check['count'] != 1]

Empty DataFrame
Columns: [pid, current_team, count]
Index: []

In [120]:
# Since I'll be trying to match on shirt numbers at the current club, 
# I need to match club names across the databases

# Create TransferMarkt club name list

mv_df_teamlist = mv_df[['current_teamid','current_team','country']].copy()
mv_df_teamlist = mv_df_teamlist.drop_duplicates()

# There is no country field in the Squawka data so code to double check no team names are the same across leagues

mv_df_teamlist['count'] = mv_df_teamlist.groupby('current_team')['current_team'].transform('count')
mv_df_teamlist[mv_df_teamlist['count'] != 1]

Empty DataFrame
Columns: [current_teamid, current_team, country, count]
Index: []

In [121]:
# Create Squawka club name list

players_teamlist = players[['team_name','team_id']].copy().drop_duplicates()

In [122]:
# Check how many team name matches

def match_team(value):
    temp_df = players_teamlist[players_teamlist['team_name'] == value]
    shape_val = temp_df.shape[0]
    return shape_val

mv_df_teamlist['check'] = mv_df_teamlist['current_team'].apply(match_team)

In [123]:
mv_df_teamlist['check'].value_counts()

0    143
1     23
Name: check, dtype: int64

In [124]:
# Create dataframe of no matches
mv_df_teamlist = mv_df_teamlist[mv_df_teamlist['check'] == 0].copy()

In [125]:
# Create function to compare the TransferMarkt team without a match to each of the teams in the
# Squawka listing. This is done by creating a temporary dataframe which scores how close the TransferMarkt 
# team names match to each of the Squawka team names. It then chooses the team with the highest match value.

def closest_match_team(value):
    string2 = value
    
    def match_rating(string1):
        m = SequenceMatcher(None, string1, string2)
        score = m.ratio()
        return score
    
    players_teamlist['match_rate'] = players_teamlist['team_name'].apply(match_rating)
    
    temp_df = players_teamlist.sort_values(by = 'match_rate', ascending=False).reset_index() # Re-index so oldest value at 0 index
    
    top_match_val = temp_df.loc[0,'team_name']
    
    print("{} done".format(value))
    
    return top_match_val

In [126]:
mv_df_teamlist['closest_match'] = mv_df_teamlist['current_team'].apply(closest_match_team)

Melbourne City FC done
Newcastle United Jets done
Chelsea FC done
Manchester City done
Manchester United done
Arsenal FC done
Tottenham Hotspur done
Liverpool FC done
Everton FC done
Southampton FC done
Leicester City done
West Ham United done
Crystal Palace done
Stoke City done
Watford FC done
Swansea City done
West Bromwich Albion done
Newcastle United done
AFC Bournemouth done
Brighton & Hove Albion done
Burnley FC done
Huddersfield Town done
Los Angeles Galaxy done
Atlanta United FC done
Portland Timbers done
Chicago Fire done
Seattle Sounders FC done
Orlando City SC done
Vancouver Whitecaps done
New York City FC done
San Jose Earthquakes done
New England Revolution done
New York Red Bulls done
Montreal Impact done
Columbus Crew SC done
Real Salt Lake City done
Colorado Rapids done
Houston Dynamo done
Sporting Kansas City done
Minnesota United FC done
Besiktas JK done
Galatasaray SK done
Fenerbahce SK done
Medipol Basaksehir done
Trabzonspor done
Osmanlispor FK done
Atiker Konyaspor done
Göztepe done
Aytemiz Alanyaspor done
Genclerbirligi Ankara done
Demir Grup Sivasspor done
Evkur Yeni Malatyaspor done
Teleset Mobilya Akhisarspor done
Kardemir Karabükspor done
Ajax Amsterdam done
Feyenoord Rotterdam done
PSV Eindhoven done
AZ Alkmaar done
SC Heerenveen done
Vitesse Arnhem done
FC Groningen done
FC Twente Enschede done
ADO Den Haag done
Heracles Almelo done
PEC Zwolle done
Willem II Tilburg done
Excelsior Rotterdam done
Roda JC Kerkrade done
Paris Saint-Germain done
AS Monaco done
Olympique Marseille done
OGC Nice done
Olympique Lyon done
FC Toulouse done
FC Girondins Bordeaux done
AS Saint-Étienne done
FC Nantes done
Stade Rennais FC done
SCO Angers done
EA Guingamp done
LOSC Lille done
HSC Montpellier done
FCO Dijon done
SM Caen done
FC Metz done
SC Amiens done
ES Troyes AC done
RC Strasbourg Alsace done
Real Madrid done
FC Barcelona done
Atlético Madrid done
Sevilla FC done
Villarreal CF done
Valencia CF done
Athletic Bilbao done
Real Sociedad done
Celta de Vigo done
UD Las Palmas done
Real Betis Balompié done
Deportivo de La Coruña done
RCD Espanyol Barcelona done
Málaga CF done
SD Eibar done
Deportivo Alavés done
CD Leganés done
Girona FC done
Getafe CF done
Levante UD done
Juventus FC done
SSC Napoli done
AC Milan done
AS Roma done
Inter Milan done
SS Lazio done
ACF Fiorentina done
Torino FC done
Atalanta BC done
US Sassuolo done
UC Sampdoria done
Genoa CFC done
Udinese Calcio done
Bologna FC 1909 done
Cagliari Calcio done
Chievo Verona done
Benevento Calcio done
Hellas Verona done
SPAL 2013 done
FC Crotone done
Bayern Munich done
Borussia Dortmund done
Bayer 04 Leverkusen done
FC Schalke 04 done
Borussia Mönchengladbach done
VfL Wolfsburg done
TSG 1899 Hoffenheim done
Eintracht Frankfurt done
SV Werder Bremen done
1.FSV Mainz 05 done
SC Freiburg done
Hamburger SV done
VfB Stuttgart done
FC Augsburg done
Hannover 96 done

In [127]:
# Create a function to then insert the matching score into the dataframe

def reverse_match_rating_team(row):
    
    string1 = row['current_team']
    string2 = row['closest_match']
    
    m = SequenceMatcher(None, string1, string2)
    score = m.ratio()
    return score

In [128]:
# Calculate to insert the score of the sequence matcher

mv_df_teamlist['match_score'] = mv_df_teamlist.apply(reverse_match_rating_team, axis = 1)

In [129]:
# Manually review list for whether closest match is correct.
mv_df_teamlist.sort_values(by = 'match_score', ascending = False, inplace = True)
mv_df_teamlist.iloc[130:155,:]

,current_teamid,current_team,country,count,check,closest_match,match_score
7975,383.0,PSV Eindhoven,Netherlands,1,0,St Etienne,0.521739
16139,18.0,Borussia Mönchengladbach,Germany,1,0,M'gladbach,0.514286
8000,1090.0,AZ Alkmaar,Netherlands,1,0,Alanyaspor,0.500000
8121,317.0,FC Twente Enschede,Netherlands,1,0,Twente,0.500000
10063,273.0,Stade Rennais FC,France,1,0,Sydney FC,0.480000
6484,1467.0,Göztepe,Turkey,1,0,Gaziantepspor,0.476190
6624,19771.0,Teleset Mobilya Akhisarspor,Turkey,1,0,Akhisar Belediyespor,0.468085
2518,148.0,Tottenham Hotspur,England,1,0,Konyaspor,0.461538
9933,1041.0,Olympique Lyon,France,1,0,Lyon,0.444444
9826,583.0,Paris Saint-Germain,France,1,0,Brisbane,0.444444
2787,984.0,West Bromwich Albion,England,1,0,West Ham,0.428571
3873,626.0,New England Revolution,United States,1,0,NE Revs,0.413793
11956,150.0,Real Betis Balompié,Spain,1,0,Newcastle Jets,0.411765

In [130]:
# Create list of indexes which didn't match

team_mismatch = [2518,2787,2815,3639,4172,6484,6604,7919,7975,8000,9826,10063,
                11956,12002,14403,14320,14623]

# Insert column in dataframe that manually records the correct matches

def insert_correct(value):
    if value in team_mismatch:
        return 1
    else:
        return 0

mv_df_teamlist['manual_check'] = mv_df_teamlist.index.map(lambda x: 0 if x in team_mismatch else 1)

In [131]:
missing_teams = mv_df_teamlist[mv_df_teamlist['manual_check'] == 0].copy()
missing_teams

,current_teamid,current_team,country,count,check,closest_match,match_score,manual_check
14403,416.0,Torino FC,Italy,1,0,Toronto FC,0.842105,0
2815,762.0,Newcastle United,England,1,0,Newcastle Jets,0.733333,0
14623,862.0,Chievo Verona,Italy,1,0,Verona,0.631579,0
3639,51663.0,Atlanta United FC,United States,1,0,Adelaide United,0.625000,0
14320,46.0,Inter Milan,Italy,1,0,Milan,0.625000,0
12002,714.0,RCD Espanyol Barcelona,Spain,1,0,Barcelona,0.580645,0
6604,19789.0,Evkur Yeni Malatyaspor,Turkey,1,0,Antalyaspor,0.545455,0
7919,610.0,Ajax Amsterdam,Netherlands,1,0,Sparta Rotterdam,0.533333,0
4172,56089.0,Minnesota United FC,United States,1,0,Adelaide United,0.529412,0
7975,383.0,PSV Eindhoven,Netherlands,1,0,St Etienne,0.521739,0
8000,1090.0,AZ Alkmaar,Netherlands,1,0,Alanyaspor,0.500000,0
10063,273.0,Stade Rennais FC,France,1,0,Sydney FC,0.480000,0
6484,1467.0,Göztepe,Turkey,1,0,Gaziantepspor,0.476190,0
2518,148.0,Tottenham Hotspur,England,1,0,Konyaspor,0.461538,0
9826,583.0,Paris Saint-Germain,France,1,0,Brisbane,0.444444,0
2787,984.0,West Bromwich Albion,England,1,0,West Ham,0.428571,0
11956,150.0,Real Betis Balompié,Spain,1,0,Newcastle Jets,0.411765,0

In [132]:
list_names = players_teamlist[['team_name']].sort_values(by = "team_name")

In [133]:
# Some teams won't have player stats since they were only promoted to their respective leagues in 2017/18

players_teamlist_names = ['Torino','Newcastle','Chievo',np.NaN,'Inter','Espanyol',np.NaN,'Ajax',np.NaN,
                         'PSV','AZ','Rennes',np.NaN,'Spurs','PSG','WBA','Betis']

# Append team names to dataframe

missing_teams['teamname_manual'] = players_teamlist_names

In [134]:
# Combine team name dataframes
def man_team_name(value):
    if value in missing_teams.index:
        teamname = missing_teams.loc[value,'teamname_manual']
    else:
        teamname = np.NaN
    
    return teamname


mv_df_teamlist['index_val'] = mv_df_teamlist.index
mv_df_teamlist['manual_check_2'] = mv_df_teamlist['index_val'].apply(man_team_name)

In [135]:
mv_df_master_teams = mv_df[['teamid','current_team']].copy()
mv_df_master_teams = mv_df_master_teams.drop_duplicates()
mv_df_master_teams['index_val'] = mv_df_master_teams.index # Create a column for the index (to be used for a function later)

In [136]:
mv_df_teamlist

,current_teamid,current_team,country,count,check,closest_match,match_score,manual_check,index_val,manual_check_2
673,25580.0,Melbourne City FC,Australia,1,0,Melbourne City,0.903226,1,673,NaN
6220,141.0,Galatasaray SK,Turkey,1,0,Galatasaray,0.880000,1,6220,NaN
6359,2944.0,Osmanlispor FK,Turkey,1,0,Osmanlispor,0.880000,1,6359,NaN
8054,306.0,SC Heerenveen,Netherlands,1,0,Heerenveen,0.869565,1,8054,NaN
11931,472.0,UD Las Palmas,Spain,1,0,Las Palmas,0.869565,1,11931,NaN
11817,1050.0,Villarreal CF,Spain,1,0,Villarreal,0.869565,1,11817,NaN
14485,1038.0,UC Sampdoria,Italy,1,0,Sampdoria,0.857143,1,14485,NaN
8101,202.0,FC Groningen,Netherlands,1,0,Groningen,0.857143,1,8101,NaN
2542,31.0,Liverpool FC,England,1,0,Liverpool,0.857143,1,2542,NaN
11745,131.0,FC Barcelona,Spain,1,0,Barcelona,0.857143,1,11745,NaN
4036,6643.0,Real Salt Lake City,United States,1,0,Real Salt Lake,0.848485,1,4036,NaN
10163,969.0,HSC Montpellier,France,1,0,Montpellier,0.846154,1,10163,NaN
11722,418.0,Real Madrid,Spain,1,0,R Madrid,0.842105,1,11722,NaN
9959,415.0,FC Toulouse,France,1,0,Toulouse,0.842105,1,9959,NaN
10117,855.0,EA Guingamp,France,1,0,Guingamp,0.842105,1,10117,NaN
11840,1049.0,Valencia CF,Spain,1,0,Valencia,0.842105,1,11840,NaN
12101,1244.0,CD Leganés,Spain,1,0,Leganés,0.842105,1,12101,NaN
14208,506.0,Juventus FC,Italy,1,0,Juventus,0.842105,1,14208,NaN
14403,416.0,Torino FC,Italy,1,0,Toronto FC,0.842105,0,14403,Torino
14430,800.0,Atalanta BC,Italy,1,0,Atalanta,0.842105,1,14430,NaN
14457,6574.0,US Sassuolo,Italy,1,0,Sassuolo,0.842105,1,14457,NaN
16380,60.0,SC Freiburg,Germany,1,0,Freiburg,0.842105,1,16380,NaN
16467,167.0,FC Augsburg,Germany,1,0,Augsburg,0.842105,1,16467,NaN
6192,114.0,Besiktas JK,Turkey,1,0,Besiktas,0.842105,1,6192,NaN
16500,42.0,Hannover 96,Germany,1,0,Hannover,0.842105,1,16500,NaN
14377,430.0,ACF Fiorentina,Italy,1,0,Fiorentina,0.833333,1,14377,NaN
14736,4083.0,FC Crotone,Italy,1,0,Crotone,0.823529,1,14736,NaN
12179,3368.0,Levante UD,Spain,1,0,Levante,0.823529,1,12179,NaN
2890,1132.0,Burnley FC,England,1,0,Burnley,0.823529,1,2890,NaN
2730,1010.0,Watford FC,England,1,0,Watford,0.823529,1,2730,NaN
...,...,...,...,...,...,...,...,...,...,...
8300,192.0,Roda JC Kerkrade,Netherlands,1,0,Roda JC,0.608696,1,8300,NaN
3727,9636.0,Seattle Sounders FC,United States,1,0,Sounders,0.592593,1,3727,NaN
10009,618.0,AS Saint-Étienne,France,1,0,St Etienne,0.592593,1,10009,NaN
2467,985.0,Manchester United,England,1,0,Man Utd,0.583333,1,2467,NaN
12002,714.0,RCD Espanyol Barcelona,Spain,1,0,Barcelona,0.580645,0,12002,Espanyol
4091,1247.0,Colorado Rapids,United States,1,0,Rapids,0.571429,1,4091,NaN
11977,897.0,Deportivo de La Coruña,Spain,1,0,Deportivo,0.562500,1,11977,NaN
11910,940.0,Celta de Vigo,Spain,1,0,Celta,0.555556,1,11910,NaN
9985,40.0,FC Girondins Bordeaux,France,1,0,Bordeaux,0.551724,1,9985,NaN
2835,989.0,AFC Bournemouth,England,1,0,B'mouth,0.545455,1,2835,NaN
3815,40058.0,New York City FC,United States,1,0,NYC FC,0.545455,1,3815,NaN
16322,86.0,SV Werder Bremen,Germany,1,0,Werder,0.545455,1,16322,NaN
6604,19789.0,Evkur Yeni Malatyaspor,Turkey,1,0,Antalyaspor,0.545455,0,6604,NaN
2861,1237.0,Brighton & Hove Albion,England,1,0,Brighton,0.533333,1,2861,NaN
7919,610.0,Ajax Amsterdam,Netherlands,1,0,Sparta Rotterdam,0.533333,0,7919,Ajax
4172,56089.0,Minnesota United FC,United States,1,0,Adelaide United,0.529412,0,4172,NaN
16349,39.0,1.FSV Mainz 05,Germany,1,0,Mainz,0.526316,1,16349,NaN
7975,383.0,PSV Eindhoven,Netherlands,1,0,St Etienne,0.521739,0,7975,PSV
16139,18.0,Borussia Mönchengladbach,Germany,1,0,M'gladbach,0.514286,1,16139,NaN
8000,1090.0,AZ Alkmaar,Netherlands,1,0,Alanyaspor,0.500000,0,8000,AZ
8121,317.0,FC Twente Enschede,Netherlands,1,0,Twente,0.500000,1,8121,NaN
10063,273.0,Stade Rennais FC,France,1,0,Sydney FC,0.480000,0,10063,Rennes
6484,1467.0,Göztepe,Turkey,1,0,Gaziantepspor,0.476190,0,6484,NaN
6624,19771.0,Teleset Mobilya Akhisarspor,Turkey,1,0,Akhisar Belediyespor,0.468085,1,6624,NaN
2518,148.0,Tottenham Hotspur,England,1,0,Konyaspor,0.461538,0,2518,Spurs
9933,1041.0,Olympique Lyon,France,1,0,Lyon,0.444444,1,9933,NaN
9826,583.0,Paris Saint-Germain,France,1,0,Brisbane,0.444444,0,9826,PSG
2787,984.0,West Bromwich Albion,England,1,0,West Ham,0.428571,0,2787,WBA
3873,626.0,New England Revolution,United States,1,0,NE Revs,0.413793,1,3873,NaN
11956,150.0,Real Betis Balompié,Spain,1,0,Newcastle Jets,0.411765,0,11956,Betis

In [137]:
# Create a mapping of team names in the squawka list

def insert_squawka_teamname(row):
    if row['index_val'] not in mv_df_teamlist.index: # This means that the team name has an exact match in the Squawka list
        teamname = row['current_team']
    
    elif mv_df_teamlist.loc[row['index_val'],'manual_check'] == 1:
        teamname = mv_df_teamlist.loc[row['index_val'],'closest_match']
    
    
    elif mv_df_teamlist.loc[row['index_val'],'manual_check_2'] != np.NaN:
        teamname = mv_df_teamlist.loc[row['index_val'],'manual_check_2']

    elif mv_df_teamlist.loc[row['index_val'],'manual_check_2'] == np.NaN:
        teamname = np.NaN
        
    return teamname

mv_df_master_teams['squawka_name'] = mv_df_master_teams.apply(insert_squawka_teamname, axis = 1)

In [138]:
mv_df_master_teams.shape

(166, 4)

In [139]:
mv_df_master_teams.head(10)

      teamid              current_team  index_val              squawka_name
594   8054.0                 Sydney FC        594                 Sydney FC
619  36100.0  Western Sydney Wanderers        619  Western Sydney Wanderers
648   7831.0             Brisbane Roar        648             Brisbane Roar
673  25580.0         Melbourne City FC        673            Melbourne City
699   8445.0        Wellington Phoenix        699        Wellington Phoenix
724   7006.0         Melbourne Victory        724         Melbourne Victory
746    970.0               Perth Glory        746               Perth Glory
767   6954.0    Central Coast Mariners        767    Central Coast Mariners
790    875.0           Adelaide United        790           Adelaide United
811   5551.0     Newcastle United Jets        811            Newcastle Jets

In [140]:
players_teamlist.columns = ['squawka_name','team_id','match_rate']
players_teamlist.drop('match_rate', axis = 1, inplace=True)
players_teamlist.head(2)

   squawka_name  team_id
0       Swansea     46.0
18    Leicester    315.0

In [141]:
# Master dataframe that maps the team name to the squawka team name

mv_df_master_teams = pd.merge(mv_df_master_teams,players_teamlist,how='left',on='squawka_name')
mv_df_master_teams.drop('index_val', axis = 1, inplace = True)

In [142]:
mv_df_master_teams.head(20)

     teamid              current_team              squawka_name  team_id
0    8054.0                 Sydney FC                 Sydney FC    332.0
1   36100.0  Western Sydney Wanderers  Western Sydney Wanderers    334.0
2    7831.0             Brisbane Roar             Brisbane Roar    326.0
3   25580.0         Melbourne City FC            Melbourne City    328.0
4    8445.0        Wellington Phoenix        Wellington Phoenix    333.0
5    7006.0         Melbourne Victory         Melbourne Victory    329.0
6     970.0               Perth Glory               Perth Glory    331.0
7    6954.0    Central Coast Mariners    Central Coast Mariners    327.0
8     875.0           Adelaide United           Adelaide United    325.0
9    5551.0     Newcastle United Jets            Newcastle Jets    330.0
10    631.0                Chelsea FC                   Chelsea     33.0
11    281.0           Manchester City                  Man City     37.0
12    985.0         Manchester United                   Man Utd     38.0
13     11.0                Arsenal FC                   Arsenal     31.0
14    148.0         Tottenham Hotspur                     Spurs     47.0
15     31.0              Liverpool FC                 Liverpool     36.0
16     29.0                Everton FC                   Everton     34.0
17    180.0            Southampton FC                 S'hampton     43.0
18   1003.0            Leicester City                 Leicester    315.0
19    379.0           West Ham United                  West Ham     49.0

In [143]:
# Convert dataframes to CSV

start_time=time.time()
start_time_stamp = str(start_time).replace(".","")
start_time_stamp

team_file_name = "team_" + start_time_stamp + ".csv"

mv_df_master_teams.to_csv(team_file_name, encoding="utf-8", index = False)

In [144]:
players.head()

,index,age,bmi,country,dob,first_name,height,last_name,name,position,shirt_num,state,surname,team_id,team_name,weight,idn
0,0,27.0,21.2,Wales,1989-02-07,Neil,175.0,Taylor,Neil Taylor,Defender,0.0,playing,Neil Taylor,46.0,Swansea,65.0,817.0
1,1,32.0,23.0,Wales,1984-08-23,Ashley,183.0,Williams,Ashley Williams,Defender,0.0,playing,Ashley Williams,46.0,Swansea,77.0,810.0
2,2,25.0,22.2,England,1991-05-22,Kyle,185.0,Bartley,Kyle Bartley,Defender,0.0,bench,Kyle Bartley,46.0,Swansea,76.0,382.0
3,3,31.0,23.0,Poland,1985-04-18,Lukasz,190.0,Fabianski,Lukasz Fabianski,Goalkeeper,1.0,playing,Fabianski,46.0,Swansea,83.0,375.0
4,4,28.0,22.6,Korea Republic,1989-01-24,Sung-yueng,187.0,Ki,Ki Sung-yueng,Midfielder,4.0,playing,Ki,46.0,Swansea,79.0,3691.0

In [145]:
# Create function to compare the TransferMarkt name_dob without a match to each of the players in the
# Squawka listing. This is done by creating a temporary dataframe which scores how close the TransferMarkt 
# players match to each of the Squawka player names. It then chooses the player with the highest match value.

def closest_match(value):
    string2 = value
    
    def match_rating(string1):
        m = SequenceMatcher(None, string1, string2)
        score = m.ratio()
        return score
    
    players_small['match_rate'] = players_small['name_dob'].apply(match_rating)
    
    temp_df = players_small.sort_values(by = 'match_rate', ascending=False).reset_index() # Re-index so oldest value at 0 index
    
    top_match_val = temp_df.loc[0,'name_dob']
    
    print("{} done".format(value))
    
    return top_match_val

In [146]:
mv_df_extra['closest_match'] = mv_df_extra['name_dob'].apply(closest_match)

michael_zullo_1988-11-09 done
eric_bauthéac_1987-08-24 done
nicholas_fitzgerald_1992-02-13 done
hernán_espíndola_1994-10-19 done
dylan_fox_1994-01-01 done
thomas_doyle_1992-06-30 done
matt_acton_1992-06-03 done
mitch_austin_1991-04-03 done
asdrúbal_padrón_1991-03-13 done
ben_warland_1997-01-01 done
benjamin_garuccio_1995-06-15 done
babá_1988-01-05 done
nicholas_cowburn_1995-03-07 done
ben_kantarovski_1992-01-20 done
matej_delac_1992-08-20 done
wallace_oliveira_1994-05-01 done
danny_drinkwater_1990-03-05 done
charly_musonda_jr._1996-10-15 done
santi_cazorla_1984-12-13 done
georges-kevin_n'koudou_1995-02-13 done
Érik_lamela_1992-03-04 done
Ádám_bogdán_1987-09-27 done
joe_gomez_1997-05-23 done
pierre-emile_höjbjerg_1995-08-05 done
onyinye_ndidi_1996-12-16 done
julián_speroni_1979-05-18 done
chung-yong_lee_1988-07-02 done
mame_diouf_1987-12-16 done
younès_kaboul_1986-01-04 done
molla_wague_1991-02-21 done
brice_dja_djedjé_1990-12-23 done
Étienne_capoue_1988-07-11 done
mike_van_der_hoorn_1992-10-31 done
Ángel_rangel_1982-10-28 done
sung-yong_ki_1989-01-24 done
allan_nyom_1988-05-10 done
josé_salomón_rondón_1989-09-16 done
jay_rodríguez_1989-07-29 done
emerson_hyndman_1996-04-07 done
mathew_ryan_1992-04-08 done
steve_mounié_1994-09-29 done
michaël_ciani_1984-04-06 done
rafael_garcía_1988-12-19 done
josé_villarreal_1993-09-10 done
bradford_jamieson_iv_1996-10-18 done
jason_hernández_1983-08-26 done
benoît_cheyrou_1981-05-03 done
marky_delgado_1995-05-16 done
gbenga_arokoyo_1992-11-01 done
bill_tuiloma_1995-03-27 done
diego_chará_1986-04-05 done
diego_váleri_1986-05-01 done
joão_meira_1987-04-30 done
juninho_1989-08-01 done
arturo_Álvarez_1985-06-28 done
cristian_roldán_1995-06-03 done
earl_edwards_jr._1992-01-24 done
dom_dwyer_1990-07-30 done
andrew_jacobson_1985-09-21 done
nosa_igiebor_1990-11-09 done
andre_rawls_1990-01-29 done
frédéric_brillant_1985-06-26 done
r.j._allen_1990-04-17 done
tommy_mcnamara_1991-02-06 done
shea_salinas_1985-06-24 done
donnie_smith_1990-12-07 done
andrew_farrell_1992-03-04 done
diego_fagúndez_1995-02-14 done
felipe_martins_1990-09-30 done
dilly_duka_1989-09-15 done
gonzalo_verón_1989-12-24 done
jesse_gonzález_1995-04-25 done
víctor_ulloa_1992-03-04 done
eric_kronberg_1983-07-07 done
deian_boldor_1995-02-03 done
wandrille_lefèvre_1989-12-17 done
hernán_bernardello_1986-08-13 done
fábinho_1985-03-16 done
ilson_jr._1985-10-12 done
federico_higuaín_1984-10-25 done
chris_schuler_1987-09-06 done
sebastián_saucedo_1997-01-22 done
yura_movsisyan_1987-08-02 done
luis_silva_1988-10-12 done
jalen_robinson_1992-05-08 done
luciano_acosta_1994-05-31 done
axel_sjöberg_1991-03-08 done
mike_azira_1987-08-22 done
Érick_torres_1993-01-19 done
timothy_melia_1986-05-15 done
róger_espinoza_1986-10-25 done
cameron_porter_1993-01-29 done
joe_greenspan_1992-09-12 done
utku_yuvakuran_1997-11-02 done
oguzhan_Özyakup_1992-09-23 done
talisca_1994-02-01 done
ahmet_calik_1994-02-26 done
badou_ndiaye_1990-10-27 done
umut_gündogan_1990-06-12 done
garry_rodrigues_1990-11-27 done
yigithan_güveli_1998-05-16 done
sener_Özbayrakli_1990-01-23 done
uygar_zeybek_1995-06-04 done
samed_karakoc_1997-06-30 done
fernandão_1987-03-27 done
mert_günok_1989-03-01 done
ugur_ucar_1987-04-05 done
emre_belözoglu_1980-09-07 done
irfan_can_kahveci_1995-07-15 done
batuhan_artarslan_1994-05-25 done
abdülkadir_Ömür_1999-06-25 done
fabián_castillo_1992-06-17 done
ozan_Özenc_1993-01-07 done
diego_Ângelo_1986-02-12 done
oguz_mataraci_1994-08-07 done
jérémy_ménez_1987-05-07 done
emre_güral_1989-04-05 done
ahmet_eyüp_türkaslan_1994-09-11 done
václav_procházka_1984-05-08 done
numan_cürüksu_1984-12-02 done
raheem_lawal_1990-05-04 done
luíz_carlos_1985-02-05 done
serdar_gürler_1991-09-14 done
muhammed_sengezer_1997-01-05 done
furkan_Özcal_1990-09-03 done
landry_n'guemo_1985-11-28 done
deniz_türüc_1993-01-29 done
güray_vural_1988-06-11 done
savas_polat_1997-04-14 done
jens_jönsson_1993-01-10 done
moryké_fofana_1991-11-23 done
Ömer_ali_sahiner_1992-01-02 done
hakan_cinemre_1994-02-14 done
selcuk_sahin_1981-01-31 done
doganay_kilic_1996-06-08 done
júnior_fernándes_1988-04-10 done
sergey_politevich_1990-04-09 done
ugur_ciftci_1992-05-04 done
halil_ibrahim_pehlivan_1993-08-21 done
erdi_sehit_1996-03-30 done
elderson_1988-01-20 done
cem_Özdemir_1992-07-27 done
thievy_bifouma_1992-05-13 done
turgut_sahin_1988-02-02 done
fatih_Öztürk_1986-12-22 done
Ömer_bayram_1991-07-27 done
ramazan_köse_1988-05-12 done
bengali-fodé_koita_1990-10-21 done
ferhat_görgülü_1991-10-28 done
andré_biyogo_poko_1993-03-07 done
Ólafur_ingi_skúlason_1983-04-01 done
evgen_seleznev_1985-07-20 done
konstantinos_lamprou_1991-09-18 done
norbert_alblas_1994-12-12 done
nicolai_jörgensen_1991-01-15 done
marko_vejinović_1990-02-03 done
simon_makienok_1990-11-21 done
jordy_bruijn_1996-07-23 done
martin_Ödegaard_1998-12-17 done
michael_törnes_1986-01-08 done
joël_drommel_1996-11-16 done
cristian_cuevas_1995-04-02 done
nasser_el_khayati_1989-02-07 done
Édouard_duplan_1983-05-13 done
jaroslav_navrátil_1991-12-30 done
athanasios_karagounis_1991-09-25 done
dan_crowley_1997-08-03 done
daniël_breedijk_1995-02-13 done
mikhael_rosheuvel_1990-08-10 done
terry_antonis_1993-11-15 done
yuri_berchiche_1990-02-10 done
lucas_1992-08-13 done
kylian_mbappé_1998-12-20 done
djibril_sidibé_1992-07-29 done
soualiho_meïté_1994-03-17 done
keita_baldé_1995-03-08 done
gabriel_boschilia_1996-03-05 done
dória_1994-11-08 done
maxime_lópez_1997-12-04 done
andré_zambo_anguissa_1995-11-16 done
walter_benítez_1993-01-19 done
marlon_1995-09-07 done
rémi_walter_1995-04-26 done
jean_michaël_seri_1991-07-19 done
pierre_lees_melou_1993-05-25 done
mickaël_le_bihan_1990-05-16 done
marçal_1989-02-19 done
zinédine_machach_1996-01-05 done
quentin_boisgard_1997-03-17 done
benoît_costil_1987-07-03 done
jérôme_prior_1995-08-08 done
maxime_poundjé_1992-08-16 done
younousse_sankharé_1989-09-10 done
valentín_vada_1996-03-06 done
françois_kamano_1996-05-01 done
nicolas_de_préville_1991-01-08 done
gaëtan_laborde_1994-05-03 done
loïc_perrin_1985-08-07 done
léo_lacroix_1992-02-27 done
ronaël_pierre-gabriel_1998-06-13 done
assane_dioussé_1997-09-20 done
loïs_diony_1992-12-20 done
alexander_söderlund_1987-08-03 done
alexis_alégué_1996-12-23 done
kolbeinn_sigthórsson_1990-03-14 done
raïs_m'bolhi_1986-04-25 done
romain_danzé_1986-07-03 done
firmin_mubele_1994-04-17 done
ismaël_traoré_1986-08-18 done
vincent_manceau_1989-07-24 done
baptiste_santamaría_1995-03-09 done
loïc_puyo_1988-12-19 done
goran_karanovic_1987-10-13 done
jonathan_martins_pereira_1986-01-30 done
mustapha_diallo_1986-05-14 done
karim_achahbar_1996-01-03 done
kévin_malcuit_1991-07-31 done
farès_bahlouli_1995-04-08 done
lukáš_pokorný_1993-07-05 done
william_rémy_1991-04-04 done
stéphane_sessègnon_1984-06-01 done
kévin_bérigaud_1988-05-09 done
cédric_varrault_1980-01-30 done
erwan_maury_1996-06-16 done
chang-hoon_kwon_1994-06-30 done
frédéric_sammaritano_1986-03-23 done
naïm_sliti_1992-07-27 done
wesley_saïd_1995-04-19 done
julio_tavares_1988-11-19 done
frédéric_guilbert_1994-12-24 done
ismaël_diomandé_1992-08-28 done
youssef_aït_bennasser_1996-07-07 done
hervé_bazile_1990-03-18 done
benoît_assou-ekotto_1984-03-24 done
prince_gouano_1993-12-24 done
serge_gakpé_1987-05-07 done
gabriel_1997-12-19 done
françois_bellugou_1987-04-25 done
saîf-eddine_khaoui_1995-04-27 done
hyun-jun_suk_1991-06-29 done
raphaël_varane_1993-04-25 done
nacho_fernández_1990-01-18 done
miguel_Ángel_moyà_1984-04-02 done
axel_werner_1996-02-28 done
filipe_luís_1985-08-09 done
thomas_1993-06-13 done
nico_gaitán_1988-02-23 done
kévin_gameiro_1987-05-09 done
nicolás_pareja_1984-01-19 done
dani_parejo_1989-04-16 done
iñigo_lekue_1993-05-04 done
sabin_merino_1992-01-04 done
toño_1986-11-23 done
jonny_castro_1994-03-03 done
míchel_1990-02-15 done
loïc_rémy_1987-01-02 done
alfredo_ortuño_1991-01-21 done
aïssa_mandi_1991-10-22 done
matías_nahuel_1996-11-22 done
saúl_garcía_1994-11-09 done
federico_cartabia_1993-01-20 done
papakouli_diop_1986-03-19 done
leo_baptistão_1992-08-26 done
jairo_morillas_1993-07-02 done
miguel_cifuentes_1990-10-05 done
zdravko_kuzmanović_1987-09-22 done
juanpi_añor_1994-01-24 done
chory_castro_1984-09-14 done
keko_1991-12-27 done

héctor_hernández_1991-05-23 done
bojan_krkic_1990-08-28 done
rubén_sobrino_1992-02-16 done
jon_ander_serantes_1989-01-04 done
iván_cuéllar_1984-05-25 done
javi_eraso_1990-03-22 done
josé_naranjo_1994-07-28 done
omar_1988-01-26 done
mamadou_koné_1991-12-25 done
fayçal_fajr_1988-08-01 done
dani_pacheco_1991-01-05 done
alex_alegría_1992-10-14 done
pepe_reina_1982-08-31 done
rafael_1990-05-20 done
camilo_zúñiga_1985-12-14 done
cristián_zapata_1986-09-30 done
jherson_vergara_1994-05-26 done
konstantinos_manolas_1991-06-14 done
emerson_1994-08-03 done
grégoire_defrel_1991-06-17 done
assane_gnoukouri_1996-09-28 done
maurício_1988-09-20 done
kevin_bonifazi_1996-05-19 done
nicolás_burdisso_1981-04-12 done
Álex_berenguer_1995-07-04 done
rafael_tolói_1990-10-10 done
papu_gómez_1988-02-15 done
gianmarco_ferrari_1992-05-15 done
leonardo_capezzi_1995-03-29 done
Édgar_barreto_1984-07-15 done
loïck_landre_1992-05-05 done
rodney_strasser_1990-03-30 done
isaac_cofie_1991-09-20 done
riad_bajić_1994-05-06 done
angelo_da_costa_1983-11-12 done
giancarlo_gonzález_1988-02-08 done
vasilios_torosidis_1985-06-10 done
saphir_taider_1992-02-29 done
ladislav_krejcí_1992-07-05 done
luca_ceppitelli_1989-08-11 done
marco_sau_1987-11-03 done
nenad_tomović_1987-08-30 done
massimiliano_gatto_1995-10-28 done
mehdi_léris_1998-05-23 done
luca_antei_1992-04-19 done
gian_filippo_felicioli_1997-09-30 done
marcus_rohdén_1991-05-11 done
andrej_kotnik_1995-08-04 done
niklas_dorsch_1998-01-15 done
thiago_1991-04-11 done
raphaël_guerreiro_1993-12-22 done
niklas_lomb_1993-07-28 done
dayot_upamecano_1998-10-27 done
naby_keïta_1995-02-10 done
pablo_insua_1993-09-09 done
mario_gómez_1985-07-10 done
kevin_akpoguma_1995-04-19 done
vladimír_darida_1990-08-08 done
per_ciljan_skjelbred_1987-06-16 done
ulisses_garcia_1996-01-11 done
emil_berggreen_1993-05-10 done
marc_oliver_kempf_1995-01-28 done
caleb_stanko_1993-07-26 done
mohamed_gouaida_1993-05-15 done

In [147]:
# Create a function to then insert the matching score into the dataframe

def reverse_match_rating(row):
    
    string1 = row['name_dob']
    string2 = row['closest_match']
    
    m = SequenceMatcher(None, string1, string2)
    score = m.ratio()
    return score

In [148]:
# Calculate to insert the score of the sequence matcher

mv_df_extra['match_score'] = mv_df_extra.apply(reverse_match_rating, axis = 1)

In [149]:
# Sort dataframe by matching score

mv_df_extra = mv_df_extra.sort_values(by = 'match_score', ascending = False)

In [150]:
mv_df_extra.head()

,teamid,number,name,pid,main_pos,position,dob,age,nat1,nat2,...,year,current_team,current_teamid,country,marketval_2016,country_2016,name_dob,check,closest_match,match_score
14582,1025.0,35.0,Vasilios Torosidis,24977.0,defender,Right-Back,1985-06-10,32.0,Greece,NaN,...,2017.0,Bologna FC 1909,1025.0,Italy,3000000.0,Italy,vasilios_torosidis_1985-06-10,0,vasilis_torosidis_1985-06-10,0.982456
10128,855.0,5.0,Mustapha Diallo,41063.0,midfielder,Defensive Midfield,1986-05-14,31.0,Senegal,NaN,...,2017.0,EA Guingamp,855.0,France,1500000.0,France,mustapha_diallo_1986-05-14,0,moustapha_diallo_1986-05-14,0.981132
2618,180.0,23.0,Pierre-Emile Höjbjerg,167799.0,midfielder,Central Midfield,1995-08-05,22.0,Denmark,France,...,2017.0,Southampton FC,180.0,England,6000000.0,England,pierre-emile_höjbjerg_1995-08-05,0,pierre-emile_højbjerg_1995-08-05,0.969697
10032,618.0,23.0,Alexander Söderlund,87479.0,attacker,Centre-Forward,1987-08-03,30.0,Norway,NaN,...,2017.0,AS Saint-Étienne,618.0,France,2000000.0,France,alexander_söderlund_1987-08-03,0,alexander_søderlund_1987-08-03,0.967742
8218,1269.0,33.0,Athanasios Karagounis,105811.0,attacker,Right Wing,1991-09-25,25.0,Greece,NaN,...,2017.0,PEC Zwolle,1269.0,Netherlands,500000.0,Netherlands,athanasios_karagounis_1991-09-25,0,thanasis_karagounis_1991-09-25,0.967742

In [151]:
# Create dataframe of 2017 players with a column that combines team_name and shirt_number
# This is to be used to then look up the name_dob for that team_shirt combination and insert into the above df
# This will act as a double-check that the correct player has been identified and also locate correct player names

# Step a: Load the 'stats' CSV which has the year filter. Only keep idn (player id), team_id & start_year (2017)
# Step b: Create a new column in a new players DF which combines team_id and pid
# Step c: Retrieve the shirt_num, player_name dob from the players dataframe (based on the team_id & idn combo)
# Step d: Create a new column in this new DF which combines team id and shirt id
# Step e: Retrieve the matched squawka team_id from the mv_df_master_teams & insert into mv_df_extra
# Step f: Create a new column in mv_df_extra that combines the shirt num and this team id
# Step g: Retrieve the matched name_dob from step c DF based on the shirt_num and team id match

In [152]:
# Step a: Load the 'stats' CSV which has the year filter. Only keep idn (player id), team_id and start_year

match_stats = pd.read_csv("player_stats.csv")
match_stats_2017 = match_stats[match_stats['start_year'] == 2017][['idn','team_id','start_year']]
match_stats_2017 = match_stats_2017.drop_duplicates()
match_stats_2017['team_id_idn'] = match_stats_2017['team_id'].astype(str) + "_" + match_stats_2017['idn'].astype(str) 
match_stats_2017.head(2)

          idn  team_id  start_year team_id_idn
221081   92.0     44.0        2017   44.0_92.0
221082  275.0     48.0        2017  48.0_275.0

In [153]:
extra_player_stats_db = '../sql/stats_extra_games.db.sqlite'
conn_6 = sqlite3.connect(extra_player_stats_db) 
c = conn_6.cursor()

# This is my SQL query to select everything:
table_6 = 'select * from playertable'

# Use `read_sql` from the `pandas` SQL library and set it equal to a DF object:
players_master_2017 = pd.read_sql(table_6, con = conn_6)

In [154]:
# Step b: Create a new column in a new players DF which combines team_id and pid

players_master = players_master_2017[['idn','name','dob','shirt_num','team_id']]
players_master = players_master.drop_duplicates()
players_master['team_id_idn'] = players_master['team_id'].astype(str) + "_" + players_master['idn'].astype(str)
players_master.head(2)

# Create a combined name and dob column in the dataframe

def name_dob(row):
    name_val = row['name'].lower().replace(" ","_")
    dob_val = str(row['dob'])
    combo = name_val + "_" + dob_val
    return combo

players_master['name_dob'] = players_master.apply(name_dob, axis = 1)

players_master.head(2)

,idn,name,dob,shirt_num,team_id,team_id_idn,name_dob
0,92.0,Jack Butland,1993-03-10,1.0,44.0,44.0_92.0,jack_butland_1993-03-10
1,5429.0,Erik Pieters,1988-08-07,3.0,44.0,44.0_5429.0,erik_pieters_1988-08-07

In [155]:
# Step c: Retrieve the shirt_num, player_name dob from the players dataframe (based on the team_id & idn combo)

match_stats_2017 = pd.merge(match_stats_2017,players_master[['team_id_idn','shirt_num','name_dob']],how='left',on='team_id_idn')
match_stats_2017.head(5)

,idn,team_id,start_year,team_id_idn,shirt_num,name_dob
0,92.0,44.0,2017,44.0_92.0,1.0,jack_butland_1993-03-10
1,275.0,48.0,2017,48.0_275.0,14.0,james_mcclean_1989-04-22
2,540.0,44.0,2017,44.0_540.0,4.0,joe_allen_1990-03-14
3,546.0,48.0,2017,48.0_546.0,18.0,gareth_barry_1981-02-23
4,572.0,44.0,2017,44.0_572.0,24.0,darren_fletcher_1984-02-01

In [156]:
match_stats_2017.shape

(1963, 6)

In [157]:
# Check if any players have multiple shirt numbers

match_stats_2017['count'] = match_stats_2017.groupby('team_id_idn')['team_id_idn'].transform('count')
match_stats_2017[match_stats_2017['count'] != 1].shape

(60, 7)

In [158]:
match_stats_2017[(match_stats_2017['shirt_num'] == 0) & (match_stats_2017['count'] > 1)].shape

(27, 7)

In [159]:
# Drop any players where multiple shirt number is 0

match_stats_2017 = match_stats_2017.drop(match_stats_2017[(match_stats_2017['shirt_num'] == 0) & (match_stats_2017['count'] > 1)].index)

In [160]:
match_stats_2017.shape

(1936, 7)

In [161]:
# Check if any players have multiple shirt numbers

match_stats_2017['count'] = match_stats_2017.groupby('team_id_idn')['team_id_idn'].transform('count')
match_stats_2017[match_stats_2017['count'] != 1]

,idn,team_id,start_year,team_id_idn,shirt_num,name_dob,count
208,20573.0,323.0,2017,323.0_20573.0,19.0,richarlison_1997-05-10,2
209,20573.0,323.0,2017,323.0_20573.0,11.0,richarlison_1997-05-10,2
383,1307.0,133.0,2017,133.0_1307.0,4.0,milan_bisevac_1983-08-31,2
384,1307.0,133.0,2017,133.0_1307.0,6.0,milan_bisevac_1983-08-31,2
470,1210.0,67.0,2017,67.0_1210.0,18.0,rémy_cabella_1990-03-08,2
471,1210.0,67.0,2017,67.0_1210.0,10.0,rémy_cabella_1990-03-08,2

In [162]:
# Step d: Create a new column in this new DF which combines team id and shirt id

match_stats_2017['team_id_shirt'] = match_stats_2017['team_id'].astype(str) + "_" + match_stats_2017['shirt_num'].astype(str)

In [163]:
# Check team-shirt duplicates where shirt number not 0

match_stats_2017['count_2'] = match_stats_2017.groupby('team_id_shirt')['team_id_shirt'].transform('count')
match_stats_2017[(match_stats_2017['count_2'] != 1) & (match_stats_2017['shirt_num'] != 0)]

,idn,team_id,start_year,team_id_idn,shirt_num,name_dob,count,team_id_shirt,count_2
596,21342.0,56.0,2017,56.0_21342.0,29.0,rominigue_kouame_1996-12-17,1,56.0_29.0,2
631,12253.0,53.0,2017,53.0_12253.0,7.0,otávio_1994-05-04,1,53.0_7.0,2
632,12259.0,53.0,2017,53.0_12259.0,7.0,malcom_1997-02-26,1,53.0_7.0,2
658,17039.0,56.0,2017,56.0_17039.0,29.0,thiago_maia_1997-03-23,1,56.0_29.0,2
881,1942.0,89.0,2017,89.0_1942.0,10.0,éver_banega_1988-06-29,1,89.0_10.0,2
890,5715.0,525.0,2017,525.0_5715.0,12.0,míchel_macedo_1990-02-15,1,525.0_12.0,2
891,6394.0,89.0,2017,89.0_6394.0,10.0,ganso_1989-10-12,1,89.0_10.0,2
898,20623.0,525.0,2017,525.0_20623.0,12.0,jonathan_calleri_1993-09-23,1,525.0_12.0,2
1029,12503.0,102.0,2017,102.0_12503.0,5.0,walace_1995-04-04,1,102.0_5.0,2
1214,7530.0,95.0,2017,95.0_7530.0,19.0,mahmoud_dahoud_1996-01-01,1,95.0_19.0,2
1224,18687.0,95.0,2017,95.0_18687.0,15.0,julian_weigl_1995-09-08,1,95.0_15.0,2
1293,2327.0,102.0,2017,102.0_2327.0,5.0,mergim_mavraj_1986-06-09,1,102.0_5.0,2
1312,133.0,95.0,2017,95.0_133.0,19.0,mario_götze_1992-06-03,1,95.0_19.0,2
1314,4333.0,95.0,2017,95.0_4333.0,15.0,jeremy_toljan_1994-08-08,1,95.0_15.0,2
1316,556.0,124.0,2017,124.0_556.0,11.0,aleksandar_kolarov_1985-11-10,1,124.0_11.0,2
1337,16099.0,124.0,2017,124.0_16099.0,11.0,gerson_1997-05-20,1,124.0_11.0,2
1856,15422.0,248.0,2017,248.0_15422.0,24.0,martin_hansen_1990-06-15,1,248.0_24.0,2
1864,20801.0,248.0,2017,248.0_20801.0,24.0,nicolai_naess_1993-01-18,1,248.0_24.0,2

In [165]:
# Step e: Retrieve the matched squawka team_id from the mv_df_master_teams & insert into mv_df_extra

mv_df_master_teams.columns = ['teamid','TM_team','squawka_name','squawka_teamid']

mv_df_extra = pd.merge(mv_df_extra,mv_df_master_teams[['teamid','squawka_teamid']],how='left',on='teamid')
mv_df_extra.head(5)

,teamid,number,name,pid,main_pos,position,dob,age,nat1,nat2,...,current_team,current_teamid,country,marketval_2016,country_2016,name_dob,check,closest_match,match_score,squawka_teamid
0,1025.0,35.0,Vasilios Torosidis,24977.0,defender,Right-Back,1985-06-10,32.0,Greece,NaN,...,Bologna FC 1909,1025.0,Italy,3000000.0,Italy,vasilios_torosidis_1985-06-10,0,vasilis_torosidis_1985-06-10,0.982456,110.0
1,855.0,5.0,Mustapha Diallo,41063.0,midfielder,Defensive Midfield,1986-05-14,31.0,Senegal,NaN,...,EA Guingamp,855.0,France,1500000.0,France,mustapha_diallo_1986-05-14,0,moustapha_diallo_1986-05-14,0.981132,144.0
2,180.0,23.0,Pierre-Emile Höjbjerg,167799.0,midfielder,Central Midfield,1995-08-05,22.0,Denmark,France,...,Southampton FC,180.0,England,6000000.0,England,pierre-emile_höjbjerg_1995-08-05,0,pierre-emile_højbjerg_1995-08-05,0.969697,43.0
3,618.0,23.0,Alexander Söderlund,87479.0,attacker,Centre-Forward,1987-08-03,30.0,Norway,NaN,...,AS Saint-Étienne,618.0,France,2000000.0,France,alexander_söderlund_1987-08-03,0,alexander_søderlund_1987-08-03,0.967742,67.0
4,1269.0,33.0,Athanasios Karagounis,105811.0,attacker,Right Wing,1991-09-25,25.0,Greece,NaN,...,PEC Zwolle,1269.0,Netherlands,500000.0,Netherlands,athanasios_karagounis_1991-09-25,0,thanasis_karagounis_1991-09-25,0.967742,243.0

In [166]:
# Step f: Create a new column in mv_df_extra that combines the shirt num and this team id

mv_df_extra['team_id_shirt'] = mv_df_extra['squawka_teamid'].astype(str) + "_" + mv_df_extra['number'].astype(str)
mv_df_extra.head(2)

,teamid,number,name,pid,main_pos,position,dob,age,nat1,nat2,...,current_teamid,country,marketval_2016,country_2016,name_dob,check,closest_match,match_score,squawka_teamid,team_id_shirt
0,1025.0,35.0,Vasilios Torosidis,24977.0,defender,Right-Back,1985-06-10,32.0,Greece,NaN,...,1025.0,Italy,3000000.0,Italy,vasilios_torosidis_1985-06-10,0,vasilis_torosidis_1985-06-10,0.982456,110.0,110.0_35.0
1,855.0,5.0,Mustapha Diallo,41063.0,midfielder,Defensive Midfield,1986-05-14,31.0,Senegal,NaN,...,855.0,France,1500000.0,France,mustapha_diallo_1986-05-14,0,moustapha_diallo_1986-05-14,0.981132,144.0,144.0_5.0

In [167]:
# Step g: Retrieve the matched name_dob from step c DF based on the shirt_num and team id match

mv_df_extra = pd.merge(mv_df_extra,match_stats_2017[['team_id_shirt','name_dob']],how='left',on='team_id_shirt')
mv_df_extra.head(5)

,teamid,number,name,pid,main_pos,position,dob,age,nat1,nat2,...,country,marketval_2016,country_2016,name_dob_x,check,closest_match,match_score,squawka_teamid,team_id_shirt,name_dob_y
0,1025.0,35.0,Vasilios Torosidis,24977.0,defender,Right-Back,1985-06-10,32.0,Greece,NaN,...,Italy,3000000.0,Italy,vasilios_torosidis_1985-06-10,0,vasilis_torosidis_1985-06-10,0.982456,110.0,110.0_35.0,NaN
1,855.0,5.0,Mustapha Diallo,41063.0,midfielder,Defensive Midfield,1986-05-14,31.0,Senegal,NaN,...,France,1500000.0,France,mustapha_diallo_1986-05-14,0,moustapha_diallo_1986-05-14,0.981132,144.0,144.0_5.0,moustapha_diallo_1986-05-14
2,180.0,23.0,Pierre-Emile Höjbjerg,167799.0,midfielder,Central Midfield,1995-08-05,22.0,Denmark,France,...,England,6000000.0,England,pierre-emile_höjbjerg_1995-08-05,0,pierre-emile_højbjerg_1995-08-05,0.969697,43.0,43.0_23.0,NaN
3,618.0,23.0,Alexander Söderlund,87479.0,attacker,Centre-Forward,1987-08-03,30.0,Norway,NaN,...,France,2000000.0,France,alexander_söderlund_1987-08-03,0,alexander_søderlund_1987-08-03,0.967742,67.0,67.0_23.0,hernani_1994-03-27
4,1269.0,33.0,Athanasios Karagounis,105811.0,attacker,Right Wing,1991-09-25,25.0,Greece,NaN,...,Netherlands,500000.0,Netherlands,athanasios_karagounis_1991-09-25,0,thanasis_karagounis_1991-09-25,0.967742,243.0,243.0_33.0,NaN

In [168]:
players_small.head(2)

     idn             name         dob                    name_dob  match_rate
0  817.0      Neil Taylor  1989-02-07      neil_taylor_1989-02-07    0.416667
1  810.0  Ashley Williams  1984-08-23  ashley_williams_1984-08-23    0.346154

In [169]:
# Insert appearances from 2016 into mv_name_review

career_summary = pd.read_csv("career_summary.csv")

mv_df_extra = pd.merge(mv_df_extra,career_summary[['pid','apps']],how='left',on='pid')

In [170]:
mv_name_review = mv_df_extra[['pid','number','apps','current_team','name','name_dob_x','closest_match','match_score','team_id_shirt',
                             'name_dob_y']].copy()
mv_name_review[mv_name_review['match_score'] > .78].shape

(284, 10)

I manually reviewed the matches found by the Sequence Matcher and found the following:

* All of the results with a score above 0.78 are correct (284 players), except for the following Transfer Markt ids:
    * 103916 (map to Squawka player ID: 5572)
    * 76285 (map to Squawka player ID: 21071)
   

* For the results with a score below 0.78 (50 players), only the following were correct:
    * Transfer Markt player IDs: 37941, 113116, 221986, 263843, 59938, 60444, 61812, 5782, 20005
    * ID 58884 needs to be mapped to Squawka player ID: 3593

In [171]:
mv_name_review.head(2)

,pid,number,apps,current_team,name,name_dob_x,closest_match,match_score,team_id_shirt,name_dob_y
0,24977,35.0,373.0,Bologna FC 1909,Vasilios Torosidis,vasilios_torosidis_1985-06-10,vasilis_torosidis_1985-06-10,0.982456,110.0_35.0,NaN
1,41063,5.0,239.0,EA Guingamp,Mustapha Diallo,mustapha_diallo_1986-05-14,moustapha_diallo_1986-05-14,0.981132,144.0_5.0,moustapha_diallo_1986-05-14

In [172]:
# Create lists and dictionaries relating to the above notes

correct_ids_under_pt78 = [37941, 113116, 221986, 263843, 59938, 60444, 61812, 5782, 20005]

correct_ids_under_pt78 = [float(x) for x in correct_ids_under_pt78]

mv_name_review['pid'] = mv_name_review['pid'].apply(pd.to_numeric, errors = 'coerce')

remapping_ids = {103916.0: 5572.0, 76285.0: 21071.0, 58884.0: 3593.0}

In [173]:
found_key = 103916
players_small[players_small['idn'] == remapping_ids[found_key]]['name_dob']

96788    rafael_cabral_1990-05-20
Name: name_dob, dtype: object

In [174]:
# Create column in mv_name_review in light of the manual review:

def id_review(row):
    
    if row['match_score'] >= 0.78 and row['pid'] not in remapping_ids.keys():
        decision = row['closest_match'] # This means that the match found by the sequence matcher is correct
    
    elif row['match_score'] >= 0.78 and row['pid'] in remapping_ids.keys():
        found_key = row['pid']
        temp_df = players_small[players_small['idn'] == remapping_ids[found_key]].reset_index()
        decision = temp_df.loc[0,'name_dob']
        
    elif row['match_score'] < 0.78 and row['pid'] in correct_ids_under_pt78:
        decision = row['closest_match'] # This means that the match found by the sequence matcher is correct
    
    elif row['match_score'] < 0.78 and row['pid'] in remapping_ids.keys():
        found_key = row['pid']
        temp_df = players_small[players_small['idn'] == remapping_ids[found_key]].reset_index()
        decision = temp_df.loc[0,'name_dob']
    
    else:
        decision = np.NaN
    
    return decision

mv_name_review['final_col'] = mv_name_review.apply(id_review, axis = 1)

In [175]:
mv_name_review[mv_name_review['final_col'].isnull()].shape

(40, 11)

In [176]:
# Insert the manual name check column into the main dataframe

def insert_name_review(row):
    if row['check'] != 0: # This checks if the automatic match was correct
        squawka_name_dob_val = row['name_dob']
        
    elif row['check'] == 0: # This falls back to the results of the manual check
        temp_df = mv_name_review[mv_name_review['pid'] == row['pid']].reset_index()
        squawka_name_dob_val = temp_df.loc[0,'final_col']
    
    return squawka_name_dob_val

mv_df['squawka_name_dob'] = mv_df.apply(insert_name_review, axis = 1)

In [177]:
mv_df[mv_df['squawka_name_dob'].notnull()].shape

(3137, 31)

In [178]:
# Drop null rows (i.e. where there is no squawka name match)

mv_df = mv_df.drop(mv_df[mv_df['squawka_name_dob'].isnull()].index)

mv_df.shape

(3137, 31)

In [179]:
players_small.head()

,idn,name,dob,name_dob,match_rate
0,817.0,Neil Taylor,1989-02-07,neil_taylor_1989-02-07,0.416667
1,810.0,Ashley Williams,1984-08-23,ashley_williams_1984-08-23,0.346154
2,382.0,Kyle Bartley,1991-05-22,kyle_bartley_1991-05-22,0.448980
3,375.0,Lukasz Fabianski,1985-04-18,lukasz_fabianski_1985-04-18,0.339623
4,3691.0,Ki Sung-yueng,1989-01-24,ki_sung-yueng_1989-01-24,0.320000

In [180]:
# In order to merge the squawka player id into the main dataframe, rename the squawka name_dob column to match

players_small.rename(columns={'name_dob':'squawka_name_dob'}, inplace=True)

In [181]:
players_small.head(5)

,idn,name,dob,squawka_name_dob,match_rate
0,817.0,Neil Taylor,1989-02-07,neil_taylor_1989-02-07,0.416667
1,810.0,Ashley Williams,1984-08-23,ashley_williams_1984-08-23,0.346154
2,382.0,Kyle Bartley,1991-05-22,kyle_bartley_1991-05-22,0.448980
3,375.0,Lukasz Fabianski,1985-04-18,lukasz_fabianski_1985-04-18,0.339623
4,3691.0,Ki Sung-yueng,1989-01-24,ki_sung-yueng_1989-01-24,0.320000

In [182]:
# Insert Squawka player id

mv_df = pd.merge(mv_df,players_small[['idn','squawka_name_dob']],how='left',on='squawka_name_dob')

In [184]:
mv_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3138 entries, 0 to 3137
Data columns (total 32 columns):
teamid              3138 non-null float64
number              3012 non-null float64
name                3138 non-null object
pid                 3138 non-null float64
main_pos            3138 non-null object
position            3138 non-null object
dob                 3138 non-null object
age                 3138 non-null float64
nat1                3138 non-null object
nat2                1020 non-null object
height              3122 non-null float64
foot                2963 non-null object
teamsince           3128 non-null object
prevteam            3128 non-null object
prevteamid          3073 non-null float64
transferfee         3138 non-null float64
contractuntil       3025 non-null object
marketval           3138 non-null float64
prevmarketval       3137 non-null float64
team                3138 non-null object
season              3138 non-null object
teamurl             3138 non-null object
year                3138 non-null float64
current_team        3138 non-null object
current_teamid      3138 non-null float64
country             3138 non-null object
marketval_2016      3138 non-null float64
country_2016        3138 non-null object
name_dob            3138 non-null object
check               3138 non-null int64
squawka_name_dob    3138 non-null object
idn                 3138 non-null float64
dtypes: float64(13), int64(1), object(18)
memory usage: 809.0+ KB

## Save linked dataframe as CSV

In [185]:
# Convert dataframes to CSV

start_time=time.time()
start_time_stamp = str(start_time).replace(".","")
start_time_stamp

matched_file_name = "combined_table_" + start_time_stamp + ".csv"

mv_df.to_csv(matched_file_name, encoding="utf-8", index = False)

In [186]:
mv_df.columns

Index([u'teamid', u'number', u'name', u'pid', u'main_pos', u'position', u'dob',
       u'age', u'nat1', u'nat2', u'height', u'foot', u'teamsince', u'prevteam',
       u'prevteamid', u'transferfee', u'contractuntil', u'marketval',
       u'prevmarketval', u'team', u'season', u'teamurl', u'year',
       u'current_team', u'current_teamid', u'country', u'marketval_2016',
       u'country_2016', u'name_dob', u'check', u'squawka_name_dob', u'idn'],
      dtype='object')

In [187]:
mv_df['change'] = mv_df['marketval'] - mv_df['marketval_2016']

In [188]:
mv_df[mv_df['change'] < 0].shape

(1139, 33)

In [189]:
mv_df[mv_df['change'] > 0].shape

(1529, 33)

In [190]:
mv_df[mv_df['change'] == 0].shape

(470, 33)

In [835]:
470./3138

0.14977692797960485